@import '../../scss/variables';

.how-find {
    padding: 100px 0 80px;

    @media (max-width: $phone_plus) {
        padding: 70px 0;
    }

    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__block {
        width: 56%;
        @media (max-width: $tablet) {
            width: 100%;
            order: 2;
        }
    }
    &__content {
        width: 35%;
        @media (max-width: $tablet) {
            width: 70%;
            order: 1;
        }
        @media (max-width: $phone_plus) {
            width: 100%;
        }
    }
    &__subtitle {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        color: $indigo;
        @media (max-width: $tablet) {
            display: none;
        }
        
    }
    &__title {
        margin: 15px 0;
        
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: $primary;
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &__title-br {
        @media (max-width: $phone_plus) {
            display: none;
        }
    }
    &__mobile-title {
        display: none;
        font-size: 26px;
        line-height: 34px;
        font-weight: 700;
        color: $primary;
        @media (max-width: $tablet) {
            display: block;
        }
        @media (max-width: $phone_plus) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__desc {
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        color: $secondary;
        @media (max-width: $tablet) {
            margin: 20px 0;
        }
        @media (max-width: $phone_plus) {
            margin: 15px 0;
            font-size: 14px;
            line-height: 19px;
        }
        
    }
    &__image {
        width: 100%;
        display: block;
        height: auto;
    }
}