@import '../../scss/variables';

.radio-button {
    margin: 15px 0;

    display: flex;

    &__item {
        padding: 0 !important;
    }
    &__label {
        margin-left: 10px;

        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: $secondary;
    }
}